{# templates/convertisseur/resultat.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
    <a href="/">Retour à l'accueil</a>
    <h1>Le résultat est :</h1>
    <p>{{ resultat }}</p>
{% endblock %}